body {
	padding-top: 51px;
}

#quintus {
	padding: 1px;
	border: 1px solid black;
}

#add-a-comment {
	text-align: center;
}

#leaderboard-wrap {
	text-align: center;
}

#post-comment-button {
	text-align: center;
}