body {
	padding-top: 51px;
}

.hidden {
	display: none;
}

#login-name {
	text-shadow: 1px 1px #FF0000;
}

#navbar-right {
	float: right;
}

#quintus {
	padding: 1px;
	border: 1px solid black;
}

#add-a-comment {
	text-align: center;
}

#post-comment-button {
	text-align: center;
}

#comment-p {
	text-align: center;
}

#update-div {
	text-align: center;
}

#leaderboard-title {
	text-align: center;
}

#top-10-title {
	text-align: center;
}

#score-li {
	text-align: right;
	list-style-type: none;
}

#modal-buttons {
	text-align: center;
}

ol {
    counter-reset: index;
}

ol li:nth-child(2n+0) {
    counter-increment: index;
    list-style: none;
}

ol li:nth-child(2n+0):before {
    content: counter(index) ".";
}

ol li:nth-child(2n+0):before {
    content: "";
}